<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
    var moviesData = [
    {
        "title": "Jessie Kannada Full Movie Watch Online HD Dhananjaya",
        "videoUrls": [
            "http://votrefiles.com/f/jl/jessie.mp4"
        ]
    },
    {
        "title": "Buguri Kannada Full Movie Watch Online HD Ganesh Erica",
        "videoUrls": [
            "http://votrefiles.com/f/ac/buguri.mp4"
        ]
    },
    {
        "title": "Jayammana Maga Kannada Full Movie Watch Online HD Vijay",
        "videoUrls": [
            "http://votrefiles.com/f/jl/jayammanamaga.mp4"
        ]
    },
    {
        "title": "Tarak Kannada Full Movie Watch Online HD Darshan Shanvi",
        "videoUrls": [
            "http://votrefiles.com/f/su/tarak.mp4"
        ]
    },
    {
        "title": "Aake Kannada Full Movie Watch Online HD Horror",
        "videoUrls": [
            "http://votrefiles.com/f/ac/aake.mp4"
        ]
    },
    {
        "title": "Rama Rama Re Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/pr/ramaramare.mp4"
        ]
    },
    {
        "title": "Geetha Bangle Store Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/gi/geetabanglestore.mp4"
        ]
    },
    {
        "title": "Jana Gana Mana Kannada Full Movie Watch Online HD Ayesha",
        "videoUrls": [
            "http://votrefiles.com/f/jl/janaganamana.mp4"
        ]
    },
    {
        "title": "Bangara s/o Bangarada Manushya Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/bangara.mp4"
        ]
    },
    {
        "title": "Anjani Putra Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/anjaniputra.mp4"
        ]
    },
    {
        "title": "Ram-Leela Kannada Full Movie Watch Online HD Chiranjeevi Sarja",
        "videoUrls": [
            "http://votrefiles.com/f/pr/ramleela.mp4"
        ]
    },
    {
        "title": "Raj Vishnu Kannada Full Movie Watch Online HD Sharan",
        "videoUrls": [
            "http://votrefiles.com/f/pr/rajvishnu.mp4"
        ]
    },
    {
        "title": "Kireeta Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/kireeta.mp4"
        ]
    },
    {
        "title": "Heart Beats Kannada Full Movie Watch Online HD Vijay Ragavendra",
        "videoUrls": [
            "http://votrefiles.com/f/gi/heartbeats.mp4"
        ]
    },
    {
        "title": "Mumbai Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/mumbai.mp4"
        ]
    },
    {
        "title": "Raaj the Showman Kannada Full Movie Watch Online HD Puneet",
        "videoUrls": [
            "http://votrefiles.com/f/pr/raaj.mp4"
        ]
    },
    {
        "title": "Naagarahaavu 1973 Kannada Full Movie Watch Online HD Debut",
        "videoUrls": [
            "http://votrefiles.com/f/mo/naagarahaavu.mp4"
        ]
    },
    {
        "title": "Nagarahavu 2016 Kannada Full Movie Watch Online HD Ramya",
        "videoUrls": [
            "http://votrefiles.com/f/mo/nagarahavu2016.mp4"
        ]
    },
    {
        "title": "Chamak Kannada Full Movie Watch Online HD Ganesh Rashmika",
        "videoUrls": [
            
        ]
    },
    {
        "title": "Shuddhi Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/shuddhi.mp4"
        ]
    },
    {
        "title": "Tora Tora Kannada Full Movie Watch Online SciFi Time Machine",
        "videoUrls": [
            "http://votrefiles.com/f/su/toratora.mp4"
        ]
    },
    {
        "title": "Rajahamsa Kannada Full Movie Watch Online HD Gowri Shikar",
        "videoUrls": [
            "http://votrefiles.com/f/pr/rajahamsa.mp4"
        ]
    },
    {
        "title": "Tiger Kannada Full Movie Watch Online HD Pradeep",
        "videoUrls": [
            "http://votrefiles.com/f/su/tiger.mp4"
        ]
    },
    {
        "title": "Huliraya Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/gi/huliraaya.mp4"
        ]
    },
    {
        "title": "Krishnan Marriage Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/krishnanmarriagestory.mp4"
        ]
    },
    {
        "title": "Chella Pilli Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/chellapilli.mp4"
        ]
    },
    {
        "title": "Preethi Kitabu Kannada Full Movie Watch Online HD Duniya Rashmi",
        "videoUrls": [
            "http://votrefiles.com/f/pr/preethikitaabu.mp4"
        ]
    },
    {
        "title": "Ishtakamya Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/gi/ishtakamya.mp4"
        ]
    },
    {
        "title": "Madamakki Kannada Full Movie Watch Online HD Sai Kumar",
        "videoUrls": [
            "http://votrefiles.com/f/mo/madamakki.mp4"
        ]
    },
    {
        "title": "Mugulu Nage Kannada Full Movie Watch Online HD Ganesh",
        "videoUrls": [
            "http://votrefiles.com/f/mo/mugulunage.mp4"
        ]
    },
    {
        "title": "Satya Harishchandra Kannada Full Movie Watch Online HD Sharan",
        "videoUrls": [
            "http://votrefiles.com/f/su/satyaharishchandra.mp4"
        ]
    },
    {
        "title": "College Kumar Kannada Full Movie Watch Online HD Samyukta",
        "videoUrls": [
            "http://votrefiles.com/f/ac/collegekumara.mp4"
        ]
    },
    {
        "title": "Toss Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/toss.mp4"
        ]
    },
    {
        "title": "Ninnindale Kannada Full Movie Watch Online HD Puneeth Erica",
        "videoUrls": [
            "http://votrefiles.com/f/mo/ninnindale.mp4"
        ]
    },
    {
        "title": "Chingari Kannada Full Movie Watch Online HD Darshan",
        "videoUrls": [
            "http://votrefiles.com/f/ac/chingari.mp4"
        ]
    },
    {
        "title": "Cigarette Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/cigarette.mp4"
        ]
    },
    {
        "title": "Humble Politician Nograj Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/gi/humblepoliticiannograj.mp4"
        ]
    },
    {
        "title": "Mukunda Murari Kannada Full Movie Watch Online HD Upendra",
        "videoUrls": [
            "http://votrefiles.com/f/mo/mukundamurari.mp4"
        ]
    },
    {
        "title": "Nam Areal Ondina  Kannada Full Movie Watch Online HD Rakshit",
        "videoUrls": [
            "http://votrefiles.com/f/mo/namareadalondinna.mp4"
        ]
    },
    {
        "title": "Dandupalya 2 Kannada Full Movie Watch Online HD Part 2",
        "videoUrls": [
            "http://votrefiles.com/f/df/dandupalya2.mp4"
        ]
    },
    {
        "title": "Manasare Kannada Full Movie Watch Online HD Digant Aidnrita",
        "videoUrls": [
            "http://votrefiles.com/f/mo/manasare.mp4"
        ]
    },
    {
        "title": "Akira Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/akira.mp4"
        ]
    },
    {
        "title": "Raja Rajendra Kannada Full Movie Watch Online HD Sharan",
        "videoUrls": [
            "http://votrefiles.com/f/pr/rajarajendra.mp4"
        ]
    },
    {
        "title": "Srinivasa Kalyana 2017 Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/srinivasakalyana.mp4"
        ]
    },
    {
        "title": "Bharjari Kannada Full Movie Watch Online HD Dhruva Sarja",
        "videoUrls": [
            "http://votrefiles.com/f/ac/bharjari.mp4"
        ]
    },
    {
        "title": "Urvi Kannada Full Movie Watch Online HD Shraddha Shruti",
        "videoUrls": [
            "http://votrefiles.com/f/su/urvi.mp4"
        ]
    },
    {
        "title": "Tharle Nan Maklu Kannada Full Movie Watch Online HD Jaggesh",
        "videoUrls": [
            "http://votrefiles.com/f/su/tarlenanmaklu.mp4"
        ]
    },
    {
        "title": "Dhairyam Kannada Full Movie Watch Online HD Ajay Rao",
        "videoUrls": [
            "http://votrefiles.com/f/df/dhairyam.mp4"
        ]
    },
    {
        "title": "Charlie Kannada Full Movie Watch Online HD Krishna Vaishali",
        "videoUrls": [
            "http://votrefiles.com/f/ac/charlie.mp4"
        ]
    },
    {
        "title": "Happy New Year Kannada Full Movie Watch Online HD Anthology",
        "videoUrls": [
            "http://votrefiles.com/f/gi/happynewyear.mp4"
        ]
    },
    {
        "title": "Krishna Leela Kannada Full Movie Watch Online HD Ajay Rao",
        "videoUrls": [
            "http://votrefiles.com/f/jl/krishnaleela.mp4"
        ]
    },
    {
        "title": "Ondu Motteya Kathe Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/ondumotteyakathe.mp4"
        ]
    },
    {
        "title": "Johny Mera Naam Preethi Mera Kaam Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/johnymeranaam.mp4"
        ]
    },
    {
        "title": "Simple Agi Ondh Love Story Full Movie Watch Online HD Part1",
        "videoUrls": [
            "http://votrefiles.com/f/su/simpleaagiondhulovestory.mp4"
        ]
    },
    {
        "title": "Godhi Banna Sadharana Mykattu Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/gi/godhibanna.mp4"
        ]
    },
    {
        "title": "Run Anthony Kannada Full Movie Watch Online HD Vinay Raj",
        "videoUrls": [
            "http://votrefiles.com/f/pr/runanthony.mp4"
        ]
    },
    {
        "title": "Madha Mathu Manasi Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/madhamathumanasi.mp4"
        ]
    },
    {
        "title": "1st Rank Raju Kannada Full Movie Watch Online HD",
        "videoUrls": [
            
        ]
    },
    {
        "title": "U Turn Kannada Full Movie Watch Online HD 2016",
        "videoUrls": [
            "http://votrefiles.com/f/su/uturn.mp4"
        ]
    },
    {
        "title": "Sanju Weds Geetha Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/sanjuwedsgeetha.mp4"
        ]
    },
    {
        "title": "Lucia Kannada Full Movie Watch Online HD Pawan Kumar",
        "videoUrls": [
            "http://votrefiles.com/f/jl/lucia.mp4"
        ]
    },
    {
        "title": "Yodha Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/vz/yodha.mp4"
        ]
    },
    {
        "title": "Namo Bhootatma Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/namobhootatma.mp4"
        ]
    },
    {
        "title": "Lifeu Ishtene Kannada Full Movie Watch Online HD Diganth",
        "videoUrls": [
            "http://votrefiles.com/f/jl/lifeuishtene.mp4"
        ]
    },
    {
        "title": "Charminar Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/charminar.mp4"
        ]
    },
    {
        "title": "Raam Kannada Full Movie Watch Online HD Puneeth Rajkumar",
        "videoUrls": [
            "http://votrefiles.com/f/pr/raam.mp4"
        ]
    },
    {
        "title": "Shiva Kannada Full Movie Watch Online HD Shiva Rajkumar",
        "videoUrls": [
            "http://votrefiles.com/f/su/shiva.mp4"
        ]
    },
    {
        "title": "Shivalinga Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/shivalinga.mp4"
        ]
    },
    {
        "title": "Vaira Kannada Full Movie Watch Online HD Horror",
        "videoUrls": [
            "http://votrefiles.com/f/vz/vaira.mp4"
        ]
    },
    {
        "title": "Savaari Kannada Full Movie Watch Online HD Raghu Mukherjee",
        "videoUrls": [
            "http://votrefiles.com/f/su/savari.mp4"
        ]
    },
    {
        "title": "Mummy Save Me Kannada Full Movie Watch Online HD Priyanka",
        "videoUrls": [
            "http://votrefiles.com/f/mo/mummysaveme.mp4"
        ]
    },
    {
        "title": "Mylari Kannada Full Movie Watch Online HD Shivrajkumar",
        "videoUrls": [
            "http://votrefiles.com/f/mo/mylari.mp4"
        ]
    },
    {
        "title": "Kool Sakkath Hot Maga Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/koolsakkath.mp4"
        ]
    },
    {
        "title": "Operation Alamelamma Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/operationalamelamma.mp4"
        ]
    },
    {
        "title": "Kaadu Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/kaadu.mp4"
        ]
    },
    {
        "title": "Thithi Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/thithi.mp4"
        ]
    },
    {
        "title": "Sa Kannada Full Movie Watch Online HD Samyuktha Hornad",
        "videoUrls": [
            "http://votrefiles.com/f/su/sa.mp4"
        ]
    },
    {
        "title": "Maduveya Mamatheya Kareyole Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/maduveyamamatheya.mp4"
        ]
    },
    {
        "title": "Badmaash Kannada Full Movie Watch Online HD Sanchita",
        "videoUrls": [
            "http://votrefiles.com/f/ac/badmaash.mp4"
        ]
    },
    {
        "title": "Raaga Kannada Full Movie Watch Online HD Blind Couple Love",
        "videoUrls": [
            "http://votrefiles.com/f/pr/raaga.mp4"
        ]
    },
    {
        "title": "Super Kannada Full Movie Watch Online HD Upendra",
        "videoUrls": [
            "http://votrefiles.com/f/su/super.mp4"
        ]
    },
    {
        "title": "Devru Kannada Full Movie Watch Online HD Duniya Vijay",
        "videoUrls": [
            "http://votrefiles.com/f/df/devru.mp4"
        ]
    },
    {
        "title": "Bheema Theeradalli Kannada Full Movie Watch Online HD Vijay",
        "videoUrls": [
            "http://votrefiles.com/f/ac/bheematheeradalli.mp4"
        ]
    },
    {
        "title": "Eno Onthara Kannada Full Movie Watch Online HD Ganesh",
        "videoUrls": [
            "http://votrefiles.com/f/df/enoonthara.mp4"
        ]
    },
    {
        "title": "Katari Veera Surasundarangi Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/katariveera.mp4"
        ]
    },
    {
        "title": "Ulidavaru Kandanthe Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/ulidavarukandante.mp4"
        ]
    },
    {
        "title": "Vaastu Prakaara Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/vz/vasthuprakara.mp4"
        ]
    },
    {
        "title": "Jaguar Kannada Full Movie Watch Online HD Kumaraswamy",
        "videoUrls": [
            "http://votrefiles.com/f/jl/jaguar.mp4"
        ]
    },
    {
        "title": "Milana Kannada Full Movie Watch Online HD Puneeth Rajkumar",
        "videoUrls": [
            "http://votrefiles.com/f/mo/milana.mp4"
        ]
    },
    {
        "title": "Kathe Chitrakathe Puttanna Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/kathechithrakathe.mp4"
        ]
    },
    {
        "title": "Eradane Sala Kannada Full Movie Watch Online HD 2017",
        "videoUrls": [
            "http://votrefiles.com/f/df/eradanesala.mp4"
        ]
    },
    {
        "title": "Chakravyuha Kannada Full Movie Watch Online HD Puneeth Rachita",
        "videoUrls": [
            "http://votrefiles.com/f/ac/chakravyuha.mp4"
        ]
    },
    {
        "title": "Krishnan Love Story Full Movie Watch Online HD Kannada",
        "videoUrls": [
            "http://votrefiles.com/f/jl/krishnanlovestory.mp4"
        ]
    },
    {
        "title": "Puttakkana Highway Full Movie Watch Online HD Shruti",
        "videoUrls": [
            "http://votrefiles.com/f/pr/puttakkanahighway.mp4"
        ]
    },
    {
        "title": "Sidlingu Full Movie Watch Online HD Ramya Yogesh",
        "videoUrls": [
            "http://votrefiles.com/f/su/sidlingu.mp4"
        ]
    },
    {
        "title": "Dandupalya Kannada Full Movie Watch Online HD 1st Part Pooja",
        "videoUrls": [
            "http://votrefiles.com/f/df/dandupalya.mp4"
        ]
    },
    {
        "title": "Neenade Naa Kannada Full Movie Watch Online HD Prajal",
        "videoUrls": [
            "http://votrefiles.com/f/mo/neenadenaa.mp4"
        ]
    },
    {
        "title": "Prem Adda Kannada Full Movie Watch Online HD Kriti Kharbanda",
        "videoUrls": [
            "http://votrefiles.com/f/pr/premadda.mp4"
        ]
    },
    {
        "title": "Prithvi Kannada Full Movie Watch Online HD Puneeth Parvathy",
        "videoUrls": [
            "http://votrefiles.com/f/pr/prithvi.mp4"
        ]
    },
    {
        "title": "Hudugaru Kannada Full Movie Watch Online HD Puneeth Yogesh",
        "videoUrls": [
            "http://votrefiles.com/f/gi/hudugaru.mp4"
        ]
    },
    {
        "title": "Chandralekha Kannada Full Movie Watch Online HD Chiranjeevi",
        "videoUrls": [
            "http://votrefiles.com/f/ac/chandralekha.mp4"
        ]
    },
    {
        "title": "Oggarane Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/oggarane.mp4"
        ]
    },
    {
        "title": "Bachchan Kannada Full Movie Watch Online HD Sudeep Bhavana",
        "videoUrls": [
            "http://votrefiles.com/f/ac/bachchan.mp4"
        ]
    },
    {
        "title": "Yaare Koogadali Kannada Full Movie Watch Online HD Puneeth",
        "videoUrls": [
            "http://votrefiles.com/f/vz/yaarekoogaadali.mp4"
        ]
    },
    {
        "title": "Topiwala Kannada Full Movie Watch Online HD Upendra Bhavana",
        "videoUrls": [
            "http://votrefiles.com/f/su/topiwala.mp4"
        ]
    },
    {
        "title": "Aryan Kannada Full Movie Watch Online HD Shiva Rajkumar Ramya",
        "videoUrls": [
            "http://votrefiles.com/f/ac/aryan.mp4"
        ]
    },
    {
        "title": "Rambo Kannada Full Movie Watch Online HD Sharan",
        "videoUrls": [
            "http://votrefiles.com/f/pr/rambo.mp4"
        ]
    },
    {
        "title": "Masterpiece Kannada Full Movie Watch Online HD Yash",
        "videoUrls": [
            "http://votrefiles.com/f/mo/masterpiece.mp4"
        ]
    },
    {
        "title": "Jogi Kannada Full Movie Watch Online HD Shivarajkumar",
        "videoUrls": [
            "http://votrefiles.com/f/jl/jogi.mp4"
        ]
    },
    {
        "title": "Anna Bond Kannada Full Movie Watch Online HD Puneeth",
        "videoUrls": [
            "http://votrefiles.com/f/ac/annabond.mp4"
        ]
    },
    {
        "title": "Siddhartha Kannada Full Movie Watch Online HD Vinay Rajkumar",
        "videoUrls": [
            "http://votrefiles.com/f/su/siddhartha.mp4"
        ]
    },
    {
        "title": "Edegarike Full Movie Watch Online HD Kannada Award Winning",
        "videoUrls": [
            "http://votrefiles.com/f/df/edegarike.mp4"
        ]
    },
    {
        "title": "Gajakesari Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/gi/gajakesari.mp4"
        ]
    },
    {
        "title": "Murali Meets Meera Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/muralimeetsmeera.mp4"
        ]
    },
    {
        "title": "Paramathma Full Movie Watch Online HD Puneeth Deepa Aindrita",
        "videoUrls": [
            "http://votrefiles.com/f/pr/paramathma.mp4"
        ]
    },
    {
        "title": "Prince Kannada Full Movie Watch Online HD Darshan Nikitha",
        "videoUrls": [
            "http://votrefiles.com/f/pr/prince.mp4"
        ]
    },
    {
        "title": "Om Kannada Full Movie Watch Online HD Shivarajkumar Upendra",
        "videoUrls": [
            "http://votrefiles.com/f/mo/om.mp4"
        ]
    },
    {
        "title": "Dana Kayonu Full Movie Watch Online HD Duniya Vijay Yograj Bhat",
        "videoUrls": [
            "http://votrefiles.com/f/df/danakayonu.mp4"
        ]
    },
    {
        "title": "Victory Kannada Full Movie Watch Online HD Sharan",
        "videoUrls": [
            "http://votrefiles.com/f/vz/victory.mp4"
        ]
    },
    {
        "title": "Beladingala Baale Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/beladingalabaale.mp4"
        ]
    },
    {
        "title": "Muthina Haara Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/muthinahaara.mp4"
        ]
    },
    {
        "title": "Yaare Neenu Cheluve Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/vz/yaareneenucheluve.mp4"
        ]
    },
    {
        "title": "Chakravarthy Full Movie Watch Online HD Darshan",
        "videoUrls": [
            "http://votrefiles.com/f/ac/chakravarthy.mp4"
        ]
    },
    {
        "title": "Hebbuli Full Movie Watch Online HD Kannada Sudeep",
        "videoUrls": [
            "http://votrefiles.com/f/gi/hebbulihd.mp4"
        ]
    },
    {
        "title": "Raajakumara Kannada Full Movie Watch Online HD Puneeth",
        "videoUrls": [
            "http://votrefiles.com/f/pr/raajakumara.mp4"
        ]
    },
    {
        "title": "Mahakshathriya Full Movie Watch Online HD Vishnuvardhan",
        "videoUrls": [
            "http://votrefiles.com/f/mo/mahakshatriya.mp4"
        ]
    },
    {
        "title": "Nammoora Mandara Hoove Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/nammooramandara.mp4"
        ]
    },
    {
        "title": "Myna Full Movie Watch Online HD Nithya Menen",
        "videoUrls": [
            "http://votrefiles.com/f/mo/mynaa.mp4"
        ]
    },
    {
        "title": "Tale Bachkoli Powder Hakoli Kannada Full Movie Watch Online HD Chikkanna",
        "videoUrls": [
            "http://votrefiles.com/f/su/talebachkoli.mp4"
        ]
    },
    {
        "title": "Love Guru Kannada Full Movie Watch Online HD Radhika Pandit",
        "videoUrls": [
            "http://votrefiles.com/f/jl/loveguru.mp4"
        ]
    },
    {
        "title": "Zoom Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/vz/zoom.mp4"
        ]
    },
    {
        "title": "Kiragoorina Gayyaligalu Kannada Full Movie Watch Online HD Shwetha Srivatsav",
        "videoUrls": [
            "http://votrefiles.com/f/jl/kiragoorina.mp4"
        ]
    },
    {
        "title": "Krishna-Rukku Kannada Full Movie Watch Online HD Ajay Rao Amulya",
        "videoUrls": [
            "http://votrefiles.com/f/jl/krishnarukku.mp4"
        ]
    },
    {
        "title": "Melkote Manja Kannada Full Movie Watch Online HD Jaggesh",
        "videoUrls": [
            "http://votrefiles.com/f/mo/melukotemanja.mp4"
        ]
    },
    {
        "title": "Jaggu Dada Kannada Full Movie Watch Online HD Darshan",
        "videoUrls": [
            "http://votrefiles.com/f/jl/jaggudada.mp4"
        ]
    },
    {
        "title": "Jai Maruthi 800 Kannada Full Movie Watch Online HD Sharan",
        "videoUrls": [
            "http://votrefiles.com/f/jl/jaimaruthi.mp4"
        ]
    },
    {
        "title": "Bahuparak Kannada Full Movie Watch Online HD Simple Suni",
        "videoUrls": [
            "http://votrefiles.com/f/ac/bahuparak.mp4"
        ]
    },
    {
        "title": "Killing Veerappan Kannada Full Movie Watch Online HD Ganesh",
        "videoUrls": [
            "http://votrefiles.com/f/jl/killingveerappan.mp4"
        ]
    },
    {
        "title": "Sundaranga Jaana Kannada Full Movie Watch Online HD Ganesh",
        "videoUrls": [
            "http://votrefiles.com/f/su/sundarangajaana.mp4"
        ]
    },
    {
        "title": "Sakkare Kannada Full Movie Watch Online HD Ganesh Deepa Sannidhi",
        "videoUrls": [
            "http://votrefiles.com/f/su/sakkare.mp4"
        ]
    },
    {
        "title": "Mr Airavata Kannada Full Movie Watch Online HD Darshan Police",
        "videoUrls": [
            "http://votrefiles.com/f/mo/mrairavat.mp4"
        ]
    },
    {
        "title": "Ganapa Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/gi/ganapa.mp4"
        ]
    },
    {
        "title": "Uppi 2 Upendra 2 Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/uppi2.mp4"
        ]
    },
    {
        "title": "Parapancha Kannada Full Movie Watch Online HD Ragini Yograj",
        "videoUrls": [
            "http://votrefiles.com/f/pr/parapancha.mp4"
        ]
    },
    {
        "title": "John Jani Janardhan Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/johnjani.mp4"
        ]
    },
    {
        "title": "Endendigu Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/df/endendigu.mp4"
        ]
    },
    {
        "title": "Aatagara Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/aatagara.mp4"
        ]
    },
    {
        "title": "Bahadur Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/bahadur.mp4"
        ]
    },
    {
        "title": "Adyaksha Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/adyaksha.mp4"
        ]
    },
    {
        "title": "Rangitaranga Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/pr/rangitaranga.mp4"
        ]
    },
    {
        "title": "Kirik Party Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/kirikparty.mp4"
        ]
    },
    {
        "title": "Maleyali Jotheyali 2009 Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/maleyalijotheyali.mp4"
        ]
    },
    {
        "title": "Porki 2010 Kannada Full Movie Online Watch HD",
        "videoUrls": [
            "http://votrefiles.com/f/pr/porki.mp4"
        ]
    },
    {
        "title": "Maanikya Kannada Full Movie Online Watch HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/maanikya.mp4"
        ]
    },
    {
        "title": "Beautiful Manasugalu Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/ac/beautifulmanasu.mp4"
        ]
    },
    {
        "title": "Vajrakaya Kannada Full Movie Watch Online HD Shiva Rajkumar",
        "videoUrls": [
            "http://votrefiles.com/f/vz/vajrakaya.mp4"
        ]
    },
    {
        "title": "Simpallag Innondh Love Story Kannada Full Movie Watch Online HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/simpallaginnond.mp4"
        ]
    },
    {
        "title": "Ranna Kannada Full Movie Watch Online HD Sudeep",
        "videoUrls": [
            "http://votrefiles.com/f/pr/ranna.mp4"
        ]
    },
    {
        "title": "Googly  Kannada Full Movie Watch Online HD Yash",
        "videoUrls": [
            "http://votrefiles.com/f/gi/googly.mp4"
        ]
    },
    {
        "title": "Chowka Full Movie Watch Online HD Darshan",
        "videoUrls": [
            "http://votrefiles.com/f/ac/chowka.mp4"
        ]
    },
    {
        "title": "Rana Vikrama Kannada Full Movie Watch Online HD Puneeth",
        "videoUrls": [
            "http://votrefiles.com/f/pr/ranavikrama.mp4"
        ]
    },
    {
        "title": "Kalpana 2 Kannada Full Movie Watch Online HD Upendra",
        "videoUrls": [
            "http://votrefiles.com/f/jl/kalpana2.mp4"
        ]
    },
    {
        "title": "Viraat Kannada Full Movie Watch Online 2016 HD Darshan",
        "videoUrls": [
            "http://votrefiles.com/f/vz/virat.mp4"
        ]
    },
    {
        "title": "Mr and Mrs Ramachari Full Movie Online Watch HD",
        "videoUrls": [
            "http://votrefiles.com/f/mo/mrandmrsramachari.mp4"
        ]
    },
    {
        "title": "Kotigobba 2 Kannada Full Movie Online Watch HD",
        "videoUrls": [
            "http://votrefiles.com/f/jl/kotigobba2.mp4"
        ]
    },
    {
        "title": "Santhu Straight Forward Full Movie Online Watch HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/santhustraightforward.mp4"
        ]
    },
    {
        "title": "Doddmane Hudga Full Movie Online Watch HD",
        "videoUrls": [
            "http://votrefiles.com/f/df/doddmanehuduga.mp4"
        ]
    },
    {
        "title": "Krantiveera Sangolli Rayanna Kannada Full Movie Online Watch HD",
        "videoUrls": [
            "http://votrefiles.com/f/su/sangollirayanna.mp4"
        ]
    }
]
    var sortingOrder = 'title';

function UniqueArrayBy(collection, keyname) {
        var output = [],
        keys = [];

        angular.forEach(collection, function(item) {
                  var key = item[keyname];
                  if(keys.indexOf(key) === -1) {
                      keys.push(key);
                      output.push(item);
                  }
              });
        return output;
   };

var app = angular.module('myApp', []);

app.controller('moviesCtrl', function($scope, $filter ) {

    $scope.sortingOrder = sortingOrder;
    $scope.reverse = false;
    $scope.filteredItems = [];
    $scope.groupedItems = [];
    $scope.itemsPerPage = 5000;
    $scope.pagedItems = [];
    $scope.currentPage = 0;
    $scope.items = UniqueArrayBy(moviesData,'title');

    var searchMatch = function (haystack, needle) {
        if (!needle) {
            return true;
        }
        if(typeof haystack == 'string'){
            return haystack.toLowerCase().indexOf(needle.toLowerCase()) !== -1;
        }
    };

    // init the filtered items
    $scope.search = function () {
        $scope.filteredItems = $filter('filter')($scope.items, function (item) {
            for(var attr in item) {
                if (searchMatch(item[attr], $scope.query))
                    return true;
            }
            return false;
        });
        // take care of the sorting order
        if ($scope.sortingOrder !== '') {
            $scope.filteredItems = $filter('orderBy')($scope.filteredItems, $scope.sortingOrder, $scope.reverse);
        }
        $scope.currentPage = 0;
        // now group by pages
        $scope.groupToPages();
    };

    // calculate page in place
    $scope.groupToPages = function () {
        $scope.pagedItems = [];

        for (var i = 0; i < $scope.filteredItems.length; i++) {
            if (i % $scope.itemsPerPage === 0) {
                $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)] = [ $scope.filteredItems[i] ];
            } else {
                $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)].push($scope.filteredItems[i]);
            }
        }
    };

    $scope.range = function (start, end) {
        var ret = [];
        if (!end) {
            end = start;
            start = 0;
        }
        for (var i = start; i < end; i++) {
            ret.push(i);
        }
        return ret;
    };

    $scope.prevPage = function () {
        if ($scope.currentPage > 0) {
            $scope.currentPage--;
        }
    };

    $scope.nextPage = function () {
        if ($scope.currentPage < $scope.pagedItems.length - 1) {
            $scope.currentPage++;
        }
    };

    $scope.setPage = function () {
        $scope.currentPage = this.n;
    };

    // functions have been describe process the data for display
    $scope.search();

    // change sorting order
    $scope.sort_by = function(newSortingOrder) {
        if ($scope.sortingOrder == newSortingOrder)
            $scope.reverse = !$scope.reverse;

        $scope.sortingOrder = newSortingOrder;

    };
});

</script>

<body>
<div ng-app="myApp">


    <div ng-controller="moviesCtrl">
    <br/><br/>
     <input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search">
      <br/><br/>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <th>
                <a href="#" ng-click="sort_by('title')">
                          Title <span ng-show="orderByField == 'title'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                          </a>
                          </th>
                <th>Urls</th>
            </thead>
            <tfoot>
                                <td colspan="6">
                                    <div class="pagination pull-right">
                                        <ul>
                                            <li ng-class="{disabled: currentPage == 0}">
                                                <a href ng-click="prevPage()">Prev</a>
                                            </li>
                                            <li ng-repeat="n in range(pagedItems.length)"
                                                ng-class="{active: n == currentPage}"
                                            ng-click="setPage()">
                                                <a href ng-bind="n + 1">1</a>
                                            </li>
                                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                                <a href ng-click="nextPage()">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tfoot>
            <tr ng-repeat="movie in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                <td>{{movie.title}}</td>
                <td>
                    <li ng-repeat-end ng-repeat="vUrl in movie.videoUrls track by $index">
                        <a href="{{vUrl}}">{{vUrl}}</a></li>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
